#header{
    display:flex;
    background-color: rgb(240, 240, 233);
    align-items: center;
}

h1{
    padding: 5px;  
}

.icon {
    width: 20px;
    height:20px;
    padding: 5px;
}

#header > #right-icons {
    display: flex;
    flex: 1;
    justify-content: end;
}

#newArrivals{
    width:100%;
    height:320px;
    background-image: url("images/newArrivals.png");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 38px;
}

button{
    font-size: 25px;
    background-color: rgb(240, 240, 233);
    width:100%
    
}

.section-header{
    text-align: center;
}

#categories{
    width:100%;
}

.categories-row{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.categories-item{
    padding:0px 5px 5px 0px;
    text-align: center;  

}

#bestsellers{
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
}

.arrows{
    width:30px;
    height: 30px;
}   

#newsletter{
    text-align: center;
    background-color:rgb(240, 240, 233);
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}

input{
    box-sizing: border-box;
    padding: 5px;
    width:60%;
}

#information{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(240, 240, 233);
}
